* text=auto eol=lf
*.txt text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.gif binary
*.mp3 binary
*.m4a binary
*.ogg binary
*.mp4 binary
*.webm binary
*.tff binary
*.woff binary
*.woff2 binary
